.header {
    width: 100vw;
    position: fixed;
    margin: 0;
    z-index: 11;
    padding: 0;

}

.navbar {
    display: flex;
    box-shadow: rgba(0,0,0, .15) 0px -2px 10px 0px;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    background-color: #008000;
    border-bottom: 1px solid #7a7a7a;
    z-index: 10;

}

.logo {
    font-size: 1.2em;
    padding-left: 4em;
    color: #fff;

}

.logo span {
    font-weight: 900;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0 auto;
}

.links_list {
    margin-right: 2em;
}

.links_list li a {
    padding: .4em 2em;
    color: #fff;
}

.links_list li a:hover {
    color: #bbb;
}
