.container {
    width: 100vw;
    text-align: center;
    padding-top: 6em;  
}

.container_second {
margin: 0 auto;
border: 1px solid transparent;
border-radius: 3em;
width: 50em;
min-height: 20em;
background-color: #9e9797;
}

.container_terc {
    margin: 0 auto;
    margin-top: 2em;
    min-height: 3em;
    max-width: 25em;
    padding: 10px;
    border: 1px solid rgb(116, 113, 113);
    border-radius: 10px;
    list-style: none;
    margin-bottom: 1em;
}

.container_terc {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, auto));
    row-gap: 3px;  
}

.lista { 
    margin-right: 15px;
    background-color: #1a8918;
    color: rgb(226, 226, 226);
    padding: 10px;
    border-radius: 50%;
    font-size: 1.3em;
}


.container_info {
    border-top: 1px solid #000;
    margin: 0 auto;
    margin-top: 3em;
    width: 80em;
}

.select {
width: 10em;
background-color: transparent;
margin-right: 2em;
color: rgb(0, 0, 0);
text-align: center;
cursor: pointer;
border-radius: 10px;
font-size: 1.5em;
padding: 10px 15px;

}

.select:hover {
    background-color: #1a8918;
    color: #fff;
    transition: 0.5s;
}

.btn {
background-color: #1a8918;
color: #fff;
text-align: center;
cursor: pointer;
border-radius: 10px;
width: 10em;
font-weight: bold;
border: none;
padding: 10px 15px;
font-size: 1.5em;
}

.btn:hover {
background-color: #0a5307;  
transition: 0.5s;
}

